[defaults]
inventory = inventories/local/hosts.ini
host_key_checking = False
retry_files_enabled = False
stdout_callback = ansible.builtin.default
result_format = yaml
interpreter_python = auto_silent
gather_facts = explicit
forks = 20
deprecation_warnings = False
log_path = ./ansible.log

[privilege_elevation]
# Автоматически делать 'become: yes' (sudo) для всех тасок во всех плейбуках
become = True
# Способ повышения прав (по умолчанию всегда sudo)
become_method = sudo
# Под каким пользователем выполнять команды после sudo
become_user = root
# Запрашивать ли пароль от sudo при каждом запуске (False — если настроен NOPASSWD)
become_ask_pass = False
